<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Boolzapp</title>
    </head>
    <body>

        <div id="app">
            <div class="wrapper">
                <div class="wrapper_top"></div>
                <div class="wrapper_bottom"></div>
                <div class="container">
                    <!-- Sidebar -->
                    <div class="sidebar">
                        <!-- Sidebar header  -->
                        <div class="side_head">
                            <div class="user">
                                <img :src="userImage" alt="">
                                <p>Nome utente</p>

                            </div>

                            <div class="icons">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>

                            </div>
                        </div>

                        <!-- Banner Notifiche -->
                        <div class="banner">
                            <div class="banner_left">
                                <div class="not_icon">
                                    <i class="fas fa-bell-slash"></i>
                                </div>
                            </div>
                            <div class="banner_right">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>

                        <!-- Ricerca -->
                        <input type="text" name="" id="search_contact" v-model="ricerca" placeholder="Cerca o inizia una nuova chat">

                        <!-- Contatti -->
                        <div class="contacts">

                            <ul>
                                <li v-for="(contact, index) in filterContacts" @click="selected(index)">
                                    <img :src="contact.avatar" alt="">
                                    {{ contact.name }}
                                </li>
                            </ul>

                        </div>

                    </div>
                    <!-- /Sidebar -->

                    <!-- Chat zone -->

                    <div class="chat">
                        <!-- Chat header -->
                        <div class="chat_head">
                            <div class="contact_image">
                                <img :src="contacts[activeUser].avatar" alt="">
                                <div class="name_access">
                                    <p>{{ contacts[activeUser].name }}</p>
                                    <p id="access">Ultimo accesso oggi alle</p>

                                </div>

                            </div>
                            <div class="contact_icons">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>

                            </div>
                        </div>

                        <!-- Chat -->
                        <div class="chat_content">
                            <ul>
                                <li v-for="(message, index) in contacts[activeUser].messages" v-if="message.status == 'sent'" :class="send">{{ message.text }}</li>
                                <li v-else :class="rec">{{ message.text }}</li>
                            </ul>
                            
                            
                        </div>

                        <!-- Scrittura messaggi -->
                        <div class="chat_text">
                            <i class="far fa-smile"></i>
                            <input type="text" name="" id="" placeholder="Scrivi un messaggio" v-model="messaggio" @keyup.enter="inviaMess">
                            <i class="fas fa-microphone"></i>
                        </div>

                    </div>
                    <!-- /Chat zone -->
                </div>
            </div>
        </div>
        
        

        

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- JS -->
        <script src="assets/js/main.js"></script>
    </body>
</html>